<h1>To-Do lists</h1>

<%=form_with model: todo_list do |form|%>
<%if todo_list.errors.any?%>
  <ul>
    <% todo_list.errors.full_messages.each do |message|%>
      <li><%=message%></li>
    <% end %>
  </ul>
  <% end %>

  <div>
    <%= form.label :name%>
    <%= form.text_field :name%>
  </div>

  <div>
    <%= form.label :description%>
    <%= form.text_field :description%>
  </div>

  <%=form.submit%>
<% end %>  